#bio, #contact, #awardsHolder {
  position: absolute;
  //height: 80%;
  padding: 0 20px;
  //bottom: 0;
  margin: auto;
  opacity: 0;
  line-height: 22px;
  display: none;
  transition: all 0.7s ease-out;
}

#bio, #awardsHolder {
  top: 130px;
}

#contact {
  top: 158px;
}

#bioDescCover, #awards, #contact a {
  font-size: 11px;
  color: white;
}