#menu {
  display: none;
  position: absolute;
  right:0px;
  top: 135px;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0 0 0;
  border-top: 1px solid #292929;
  background-color: rgba(0, 0, 0, 1);
  transition: all 0.7s ease-out;
  transform: translate3d(0,100%,0);
  opacity: 0;
  &:before {
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
    @media screen and (min-width:0px) and (max-width:768px) {
      display: none;
    }
  }
  &.open {
    transition: all 0.5s ease-out;
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  .main {
    display: block;
    vertical-align: middle;
    padding: 0 20px;
    @media screen and (min-width:0px) and (max-width:768px) {
    }
    ul {
      display: flex;
      width: 100%;
      padding: 0;
      margin: 0;
      li {
        padding: 0;
        font-size: 15px;
        opacity: 0.3;
        flex-grow: 1;
        @media screen and (min-width:321px) and (max-width:768px) {

        }
        @media screen and (min-width:0px) and (max-width:320px) {
        }
      }
    }
  }

  .sub {
    display: block;
    margin-left: 6%;
    @media screen and (min-width:0px) and (max-width:768px) {
      display: block;
      width: 100%;
      margin: 19px 0 0 0;
      padding: 15px 20px 0;
      box-sizing: border-box;
      border-top: 1px solid #292929;
    }
    .lists {
      //display: inline-block;
      //vertical-align: middle;
      padding: 0;
      margin: 0;
      @media screen and (min-width:0px) and (max-width:768px) {
        //display: table;
        //width: 100%;
        //box-sizing: border-box;
      }
      ul {
        vertical-align: top;
        overflow: hidden;
        @media screen and (min-width:0px) and (max-width:768px) {
          display: table-cell;
        }
        li {
          font-size: 12px;
          padding: 6px 20px;
          transition:all 0.3s ease-out;
          transform: translate3d(0, 0 ,0);
          @media screen and (min-width:0px) and (max-width:768px) {
            font-size: 11px;
            padding: 3px 0;
            opacity: 0;
          }
          &.show {
            color: white;
            opacity: 0.3;
            transition:all 0.4s ease-out;
            transform: translate3d(0, 0 ,0);
          }
        }
      }
    }
  }

  .subsub {
    display: block;
    opacity: 0;
    width: 100%;
    margin: 13px 0 0 0;
    padding: 13px 19px;
    box-sizing: border-box;
    border-top: 1px solid #292929;
    .lists {
      padding: 0;
      margin: 0;
      ul {
        vertical-align: top;
        overflow: hidden;
        li {
          font-size: 11px;
          padding: 3px 0;
          line-height: 16px;
          opacity: 0;
          &.show {
            color: white;
            opacity: 0.3;
            transition:all 0.6s ease-out;

          }
        }
      }
    }
  }

  ul {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    &.horizontal {
      display: flex !important;
      flex-wrap: wrap;
    }
    li {
      padding: 12px 20px;
      margin: 0;
      text-align: left;
      color: white;
      list-style: none;
      cursor: pointer;
      transition:color 0.3s ease-out;
      text-transform: capitalize;
      &:hover {
        color: white;
        opacity: 1;
      }
      &.over {
        color: white !important;
        opacity: 1 !important;
      }
    }
  }

  .horizontal {
    li {
      width: 50%;
      transform: translate3d(0, 0 ,0) !important;
    }
  }



}